<!-- Loop over each object in the projects array -->
{{#each news as |news| }}
<div class="row mb-4 news">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/news">{{news.title}}</a>
    </h2>
    <p>Created by {{news.users.title}} on {{format_date news.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{news.description}}
    </p>
  </div>
</div>
{{/each}}